
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
    <body>
	
	<nav th:replace="fragments::nav"></nav>
		
	<div class="container">
	 <!-- administration menu-->
	<div th:replace="fragments::admin-menu"></div>
					<hr/>

			<article>
		
					<div th:unless="${#lists.isEmpty(listMain)}">
						<dl th:each="update : ${listMain}">
						<dt>	
							<label>ID:</label>
							<span th:if="${update.id}" th:text="${update.id}">ID: </span> <br/>
							<span th:if="${update.id eq null}">No ID available</span> <br/>	
							
							<label>Headline:</label>
							<span th:if="${update.headline}" th:text="${update.headline}">Headline: </span> <br/>
							<span th:if="${update.headline eq null}">No headline available</span> <br/>
							
							<label>Content:</label>
							<span th:if="${update.content}" th:text="${update.content}">Content: </span> <br/>
							<span th:if="${update.content eq null}">No content available</span> <br/>

							
							<!-- add the image from bucket -->
       						<img th:attr="src=${update.url},title=${update.headline},alt=${update.headline}" /><br/>
           
           
						</dt>
						</dl>
					</div>
					
					<div th:if="${#lists.isEmpty(listMain)}">	
						<p>You have no updates...</p>
					</div>
					
					<hr/>
				</article>
	
	
	
	
	</div>
       <!-- start of footer -->
 	<footer th:replace="fragments :: footer"></footer>
	

    </body>
</html>